body{
    background-color: burlywood;
}
h2{
    text-align: center;
    color: burlywood;
    background-color: cyan;
    font-style: italic;
}
h4{
    color: cadetblue;
}
p{
    color: cadetblue;
    font-synthesis: weight;
    text-align: center;
}
ul{
    

}
ol{
    
}